.article-detail {
    max-width: 100%;
    padding: 40px;
    img {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    p {
        max-width: 20px 0;
    }
}
.article-detail__richtext {
    max-width: 100%;
    img {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    p {
        max-width: 20px 0;
    }
}